<div class="card-body border border-dark rounded ">
    <h5 class="card-title d-flex rounded justify-content-between text-light"
        style="background-color: rgb(31, 48, 146)  ;padding-bottom: 29px"></h5></br></br>
    <div>
        {{#each this}}
        <blockquote class="blockquote">
            <p class="mb-0"> {{comment_text}} </p></br>
            <footer class="blockquote-footer">{{user.username}} <cite title="Source Title">on {{format_date created_at}}
                </cite></footer>
        </blockquote>
        {{/each}}
    </div>
</div>